

  <div class="row container">
    <a href [routerLink]="['/intro']" title="Get Strarted" class="col">
      <div class="card card-default">
        <div class="card-header">To understand the principle</div>
        <div class="card-body"> Get Strarted </div>
      </div>
    </a>

    <a href [routerLink]="['/bot']" title="Get Strarted" class="col disabled">
      <div class="card card-default">
        <div class="card-header">Make your own predictions</div>
        <div class="card-body"> Go further </div>
      </div>
    </a>
  </div>
