

  <div class="row">
    <a href [routerLink]="['/intro']" title="Get Strarted" class="col">
      <div class="panel panel-default">
        <div class="panel-heading">To understand the principle</div>
        <div class="panel-body"> Get Strarted </div>
      </div>
    </a>

    <a href [routerLink]="['/bot']" title="Get Strarted" class="col disabled">
      <div class="panel panel-default">
        <div class="panel-heading">Make your own predictions</div>
        <div class="panel-body"> Go further </div>
      </div>
    </a>
  </div>
