
<p>
  <ngb-alert [dismissible]="true" *ngIf="errMsg !== ''">
    <strong>Error!</strong> {{errMsg}}
  </ngb-alert>
</p>

<!-- debug -->
Step: {{step}}

<!-- Navigation -->
<p><button class="btn btn-primary" (click)="nextStep()">Next step !</button></p>

<!-- Step x -->
<div *ngFor="let item of graphs" class="step">
  <p *ngIf="isLoading && step === 0">Waitting for computting...</p>
  
  <!-- Graph-->
  <div class="card">
    <plotly-plot [data]="item.data" [layout]="item.layout"></plotly-plot>
  </div>
</div>