<main class="container-fluid">
  <!-- Alert -->
  <p class="alert-wrapper">
    <ngb-alert [dismissible]="true" *ngIf="errMsg !== ''" (close)="errMsg = ''">
      <strong>Error!</strong> {{errMsg}}
    </ngb-alert>
    <ngb-alert [dismissible]="true" *ngIf="successMsg !== ''" (close)="successMsg = ''">
      <strong>Sucess!</strong> {{successMsg}}
    </ngb-alert>
  </p>
  <header class="container">
    <h2 class="h2">Make Prevision</h2>
    <div *ngIf="addFormOpen">
      <div class="bg-dark p-4">
        <!-- Close -->
        <button type="button" class="close" aria-label="Close" (click)="addFormOpen = !addFormOpen">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="text-white h4">Add a new prevision</h3>
          
        <!-- Add prevision form -->
        <span class="text-muted">
          <app-add-prevision (previsionAdded)="onPrevisionAdded($event)"></app-add-prevision>
        </span>
      </div>
    </div>
    <!-- Close -->
    <nav class="navbar navbar-dark bg-dark">
      <button class="btn btn-default text-white" type="button" (click)="addFormOpen = !addFormOpen">
        {{!addFormOpen ? 'Add' : 'Close'}}
      </button>
    </nav>
  </header>
  
  <!-- Previsions List -->
  <section id="previsions">
    <h3>Your previsions</h3>
    <p *ngIf="!previsions.length">No prevision reistered yet, please add a new one.</p>

    <nb-accordion *ngIf="previsions.length">
      <nb-accordion-item *ngFor="let item of previsions; index as i" class="step">
        <nb-accordion-item-header>{{item.label}}</nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-card>
            <nb-card-header>
              <p>Crypto: {{item.crypto.name}}</p>
              <p>Currency: {{item.crypto.currency}}</p>
              <p>Train model from: {{item.trainStartDate || ''}}</p>
              <p>Train model to: {{item.trainEndDate || ''}}</p>
              <p>Test model from: {{item.testStartDate || ''}}</p>
              <p>Test model to: {{item.testEndDate || ''}}</p>
            </nb-card-header>
            <nb-card-body>
              <nb-spinner *ngIf="isLoading"></nb-spinner>
              <div *ngIf="item.graph">
                <!-- Graph -->
                <plotly-plot [data]="item.graph.data" [layout]="item.graph.layout"></plotly-plot>
                <aside *ngIf="item.graph.report">
                  <p>Test RMSE: {{item.graph.report.testRMSE}}</p>
                  <p>Average RMSE: {{item.graph.report.averageRMSE}}</p>
                  <p>RMSE list: 
                    <span class="badge badge-light" *ngFor="let rmse of item.graph.report.rmseList">{{rmse}}</span>
                  </p>
                  <p>New RMSE: {{item.graph.report.newRMSE}}</p>
                  <p>Test SMAPE: {{item.graph.report.newRMSE}}</p>
                </aside>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button nbButton status="danger" (click)="removePrevision(i)"> Delete</button>
              <button nbButton status="primary" (click)="startPrevision(i)"> Start</button>
            </nb-card-footer>
          </nb-card>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

  </section>
</main>