<nb-layout>

  <nb-layout-header fixed>
    <!-- header -->
    <a href [routerLink]="['/']">Trend bot</a>
  </nb-layout-header>

  <nb-layout-header subheader>
    <!-- Main nav -->
    <app-nav></app-nav>
  </nb-layout-header>

  <nb-layout-column>

    
    <!-- Pages -->
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <strong>Disclaimer : </strong>
    This a personal project at test state only and is work-in-progress, so the previsions are extremely approximatives !
  </nb-layout-footer>

</nb-layout>
